.button {
  background-color: blue;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  transition: all 0.5s;
}

.button,
.button * {
  color: white;
}

.button:hover {
  opacity: 0.5;
  transform: scale(1.2);
}
